<a href="https://colab.research.google.com/github/chriXico/GitPython3/blob/main/list_operations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
#COPIA UNA VARIABLE
nombre = "Alexis"
nombre2 = nombre
nombre = "Eduardo"

print(nombre, nombre2)

numbers = ['one','two','three']
numbers_two = numbers

print(numbers, numbers_two, sep='\n')
numbers[0] = 'Alexis' #SOLO ANDO MODIFICANDO LA PRIMERA LISTA

print(numbers, numbers_two, sep='\n')

Eduardo Alexis
['one', 'two', 'three']
['one', 'two', 'three']
['Alexis', 'two', 'three']
['Alexis', 'two', 'three']

In [6]:
numbers = ['one','two','three']
numbers_copy = numbers.copy()

numbers[0] = 'Alexis'

print(numbers, numbers_copy, sep='\n')

['Alexis', 'two', 'three']
['one', 'two', 'three']

In [7]:
numbers = ['one','two','three']
numbers_copy = numbers[:]

numbers[0] = 'Alexis'

print(numbers, numbers_two, sep='\n')

['Alexis', 'two', 'three']
['Alexis', 'two', 'three']

In [9]:
# Merge list
numbers_one = [1,2,3]
numbers_two = [4,5,6]

numbers = numbers_one + numbers_two
print(numbers)

[1, 2, 3, 4, 5, 6]

In [10]:
numbers_one = [1,2,3]
numbers_two = [4,5,6]

for number in numbers_two:
  numbers_one.append(number)

print(numbers_one)

[1, 2, 3, 4, 5, 6]

In [11]:
numbers_one = [1,2,3]
numbers_two = [4,5,6]

numbers = (numbers_one, numbers_two)
print(numbers)

([1, 2, 3], [4, 5, 6])

In [17]:
numbers_one = [1,2,3]
numbers_two = [4,5,6]

numbers_one.extend(numbers_two)
print(numbers_one)

[1, 2, 3, 4, 5, 6]

In [14]:
numbers_one = [1,2,3]
numbers_two = [4,5,6]

for number in (numbers_one, numbers_two):
  print(number)

  for number in (numbers_one, numbers_two):
    for n in number:
      print(n)

numbers = []
for number in (numbers_one, numbers_two):
  for n in number:
    numbers.append(n)

print(numbers)

[1, 2, 3]
1
2
3
4
5
6
[4, 5, 6]
1
2
3
4
5
6
[1, 2, 3, 4, 5, 6]

In [16]:
# List Comprehension

numbers = [n for number in (numbers_one, numbers_two) for n in number]
print(numbers)

[1, 2, 3, 4, 5, 6]

In [18]:
numbers_one = [1,2,3]
numbers_two = [4,5,6]

numbers = [*numbers_one, *numbers_two]
print(numbers)

[1, 2, 3, 4, 5, 6]